.sliderContainer {
  width: 100%;
  max-width: 440px;
  margin: 1rem auto;
  padding: calc(1.5rem - 1.5vw);
  text-align: center;
  font-family: sans-serif;
}

.daysRange {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: var(--weight)
}

.slider {
  width: 100%;
  margin-top: 0.5rem;
  appearance: none;
  height: 8px;
  background: #ddd;
  border-radius: 4px;
  outline: none;
  transition: background 0.3s;
  background: #ddd;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: var(--maincolor);
  border-radius: 50%;
  box-shadow: 0 0 0 6px white, 2px 4px 10px rgba(0, 0, 0, 1);
  border: none;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
  position: relative;
  z-index: 1;
}

/* Firefox */
.slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: var(--maincolor);
  border-radius: 50%;
  box-shadow: 0 0 0 6px white,
    0 4px 8px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
}

.sliderValueContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;

  .sliderValueMin, .sliderValueMax {
    font-size: .8rem;
    font-weight: var(--weight);
    color: var(--fgcolor);
  }
}