.editorWrapper {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
}

.editorContainer {
    position: relative;
    min-height: 200px;
    background: white;
    padding: .5rem;
    box-sizing: border-box;
}

.editorInput {
    width: 100%;
    min-height: 200px;
    padding: 10px;
    outline: none;
    font-size: 1.2rem;
}

.editorInput ul,
.editorInput ol {
    padding-left: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.editorPlaceholder {
    position: absolute;
    top: 12px;
    left: 12px;
    color: #999;
    pointer-events: none;
    user-select: none;
}

.buttonContainer{
    display:flex;
    justify-content: flex-end;
}

.saveButton {
    margin-top: 1rem;
    background-color: var(--maincolor);
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.saveButton:hover {
    background-color: var(--maincolor-hover);
}

.button {
    background: #eee;
    border: 1px solid #ccc;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background: #ddd;
}

.activeButton {
    background-color: #ddd;
}

.toolbar {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.toolbarButton,
.toolbarFatButton,
.toolbarButtonHeader1,
.toolbarButtonHeader2 {
    padding: .4rem 1.2rem;
    width: auto;
    text-align: center;
    border: 1px solid #aaa;
    background: white;
    cursor: pointer;
    border-radius: 6px;
    font-size: .8rem;
}

.toolbarFatButton {
    font-weight: 600;
}

.toolbarButtonHeader1 {
    font-size: xx-large;
}

.toolbarButtonHeader2 {
    font-size: x-large;
}

.toolbarButtonHeader1:hover,
.toolbarButtonHeader2:hover,
.toolbarButton:hover,
.toolbarFatButton:hover {
    background: #eee;
}

.toolbarButton.active,
.toolbarButtonHeader1:active,
.toolbarButtonHeader2:active,
.toolbarButton.active,
.toolbarFatButton:active {
    background-color: #e0e0e0;
    font-weight: bold;
}

.activeButton {
    background: #cce5ff;
    border-color: #66b2ff;
}

.textBold {
    font-weight: bold;
}

.textItalic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.editorParagraph {
    margin: 0;
    padding: 0;
}

.message {
    padding: 8px 12px;
    margin-top: 8px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
}

.success {
    background-color: #e6ffed;
    color: #2e7d32;
    border: 1px solid #2e7d32;
}

.error {
    background-color: #ffebee;
    color: #c62828;
    border: 1px solid #c62828;
}